*{
    margin: 0;
    padding: 0;
}

.create-page{
    position: relative;
    width: 1512px;
    height: 982px;
    background: #F6F2FF;
    overflow-y: scroll;
}

.create-heading{
    font-size: 36px;
    text-align: center;  
    padding-top: 100px;   
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #240D57;
    /* background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;     */
    padding-bottom: 20px;   
}

.create-subheading{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: Helvetica;
  font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #828282;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-field{
    width: 480px;
    font-size: 20px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    color: #E0E0E0;
    margin: 10px;
    font-family: 'Helvetica';
}

.add-create-btn{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 16px;
  gap: 10px;
  cursor: pointer;
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  border-radius: 10px;
  width: 320px;
  height: 55px;
}

.add-create-btn-text{
    width: 192px;
  height: 23px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.display-img{
    width: 480px;
    margin-bottom: 30px;
}

@media (max-width: 960px) {
    .create-page{
        position: relative;
        width: 960px;
        height: 1194px;
    }
}