*{
  margin: 0;
  padding: 0;
}
.landing-page{
  position: relative;
  width: 1512px;
  height: 982px;
  background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
}

.movie-img{
  position: absolute;
  width: 440px;
  height: 775.69px;
  left: calc(50% - 440px/2 - 366px);
  top: 100px;
  filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
  border-radius: 35.1522px;
}

.add-event-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 574px;
  height: 264px;
  left: calc(50% - 574px/2 + 309px);
  top: 306px;
}

h1{
  width: 574px;
  height: 192px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.add-event-heading{
  position: absolute;
  width: 573.91px;
  height: 192px;
  left: 0px;
  top: 0px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  /* or 100% */

  text-align: right;

  color: #240D57;
}

.snapchat{
  position: absolute;
  width: 295px;
  height: 74px;
  left: 279px;
  top: 59px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  /* identical to box height */

  text-align: right;

  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.info{
  width: 521px;
  height: 56px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #4F4F4F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.add-event-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  cursor: pointer;

  position: absolute;
  width: 320px;
  height: 55px;
  left: calc(50% - 320px/2 + 436px);
  top: 622px;

  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  border-radius: 10px;
}

.add-event-btn-text{
  width: 192px;
  height: 23px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: right;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

@media (max-width: 960px) {
  .landing-page{
    position: relative;
    width: 960px;
    height: 1194px;

    background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
  }

  .movie-img{
    position: absolute;
    width: 311px;
    height: 548.27px;
    top: 379px;
    left: calc(50% - 311px/2 + 0.5px);
    filter: drop-shadow(0px 0px 33.1283px rgba(0, 0, 0, 0.05));
    border-radius: 24.8462px;
  }

  .add-event-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 880px;
    height: 264px;
    left: calc(50% - 880px/2);
    top: 60px;
  }

  h1{
    width: 880px;
    height: 192px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .add-event-heading{
    position: absolute;
    width: 573.91px;
    height: 192px;
    left: 154.04px;
    top: 0px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    text-align: center;

    color: #240D57;
  }

  .snapchat{
    position: absolute;
    width: 573.91px;
    height: 74px;
    left: 0px;
    top: 59px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    /* identical to box height */

    text-align: center;

    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .add-event-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    position: absolute;
    width: 320px;
    height: 55px;
    left: calc(50% - 320px/2);
    top: 980px;

    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    border-radius: 10px;
  }

  .add-event-btn-text{
    width: 192px;
    height: 23px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    background: transparent;
    border: none;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .info{
    width: 521px;
    height: 56px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #4F4F4F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
}

@media (max-width: 375px) {
  .landing-page{
    overflow-y: scroll;
    width: 375px;
    height: 813px;
  }

  .movie-img{
    position: absolute;
    width: 165.63px;
    height: 292px;
    left: calc(50% - 165.63px/2 + 0.32px);
    top: 290px;

    filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
    border-radius: 13.2326px;
  }  

  .add-event-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 321px;
    height: 160px;
    left: calc(50% - 321px/2);
    top: 94px;
  }

  h1{
    width: 283px;
height: 108px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }

  .add-event-heading{
    position: absolute;
    width: 283px;
    height: 108px;
    left: 19px;
    top: 0px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    /* or 100% */

    text-align: center;

    color: #240D57;

  }

  .snapchat{
    position: absolute;
    width: 283px;
    height: 41px;
    left: 0px;
    top: 34px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    text-align: center;

    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .info{
    width: 321px;
    height: 36px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #4F4F4F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .add-event-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    position: absolute;
    width: 187px;
    height: 50px;
    left: calc(50% - 187px/2);
    top: 616px;

    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    border-radius: 10px;
  }

  .add-event-btn-text{
    width: 155px;
    height: 18px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: right;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}